/* Colors for my Website */
body {
  background: #333333;
  color: #cccccc;
}
.change {
  background: #d48ebc;
  color: #46090b;
}
.change h1,
.change h2,
.change h3,
.change h4,
.change h5,
.change h6 {
  color: #46090b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cccccc;
}
button {
  background-color: #c6441a;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
